name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: read 
  id-token: write
  issues: write
  pull-requests: write

jobs:
  test:
    # Runs e2e tests and unit tests
    uses: "./.github/workflows/tests.yaml"
    permissions:
      contents: read
      id-token: write   
      issues: write         
      pull-requests: write   

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24.x'
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'

      - name: Ensure pnpm store exists
        run: pnpm store path | xargs -I{} mkdir -p "{}"

      - name: Install dependencies
        run: pnpm i

      - name: Build
        run: pnpm run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run semantic-release
